<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>
			{% block title %}
				Sortir ENI
			{% endblock %}
		</title>

		{# notre css #}
		{% block stylesheets %}
			<link href="{{ asset('build/app.css') }}" rel="stylesheet"/>
		{% endblock %}

		{# le favicon #}
		<link rel="icon" href="{{ asset('img/soiree-dj.png') }}">
	</head>
	<body>
		{# entête du site #}
		<header>
			{% include('inc/nav.html.twig') %}
		</header>

		{# affichage des erreurs #}
		{% for label, messages in app.flashes %}
			{% for message in messages %}
				<div class="alert alert-{{ label }}">
					{{ message }}
				</div>
			{% endfor %}
		{% endfor %}
		{# contenu principal de chaque page #}
		<main>
			{% block body %}{% endblock %}
		</main>
		{# pied-de-page du site #}
		<footer>
			© Sortir -
			{{ "now"|date("Y") }}
		</footer>
	</body>
</html></div>{% block javascripts %}{% endblock %}</body></html>
