{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('build/profil_show.css') }}" rel="stylesheet"/>
{% endblock %}

{% block title %}
    {{ parent() }} | oh no !
{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="title"><h2>Une erreur s'est produite</h2></div>

        <img src="{{ asset('img/error500.png') }}" alt="oh no alex moris">
        <div class="filterWrapper">

            <div class="search">

                <div class="button">
                    <button class="searchButton">
                        <a href="{{ path('accueil_accueil') }}">Retourner à l'accueil</a>
                    </button>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
