{% extends 'base.html.twig' %}

{% block title %}{{sortie.nom}}{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<h1>{{ sortie.nom }}</h1>

	<div class="">
		<div class="">
			<label>Date et heure de la sortie</label>
			<label>Date limite d'inscription</label>
			<label>Nombre de places</label>
			<label>Durée</label>
			<label>Description et infos</label>
			<label>Campus</label>
			<label>Lieu</label>
			<label>Rue</label>
			<label>Code postal</label>
			<label>Ville</label>
			<label>Latitude</label>
			<label>Longitude</label>
		</div>

		<div class="">
			<label>{{ sortie.dateHeureDebut | date('d/m/y') }} à {{ sortie.dateHeureDebut | date('m') }}h{{ sortie.dateHeureDebut | date('h') }}</label>
			<label>{{ sortie.dateLimiteInscription | date('d/m/y') }}</label>
			<label>{{ sortie.nbInscriptionsMax }}</label>
			<label>{{ sortie.duree }}</label>
			<label>{{ sortie.infosSortie }}</label>
			<label>{{ sortie.campus }}</label>
			<label>{{ sortie.lieu.nom }}</label>
			<label>{{ sortie.lieu.rue }}</label>
			<label>{{ sortie.lieu.ville.codePostal }}</label>
			<label>{{ sortie.lieu.ville.nom }}</label>
			<label>{{ sortie.lieu.latitude }}</label>
			<label>{{ sortie.lieu.longitude }}</label>
		</div>
	</div>

	<h2>Liste des participants inscrits</h2>

	<table>
		<thead>
			<tr>
				<th>Pseudo</th>
				<th>Prénom Nom</th>
			</tr>
		</thead>
		<tbody>
		{% for participant in sortie.participants %}
			<tr>
				<td>{{ participant.pseudo | capitalize }}</td>
				<td>{{ participant.prenom | capitalize }} {{ participant.nom | upper }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>


{% endblock %}



