{% extends 'base.html.twig' %}

{% block title %}Créer une sortie{% endblock %}
{% block body %}
    {% form_theme sortieForm 'bootstrap_4_horizontal_layout.html.twig' %}

    <div class="container -md">
        {{ form_start(sortieForm, {attr: {novalidate:'novalidate'}})}}

        {{ form_row(sortieForm.nom) }}
        {{ form_row(sortieForm.dateHeureDebut) }}
        {{ form_row(sortieForm.dateLimiteInscription) }}
        {{ form_row(sortieForm.nbInscriptionsMax) }}
        {{ form_row(sortieForm.duree) }}
        <span>minutes</span>
        {{ form_row(sortieForm.infosSortie) }}
        {{ form_row(sortieForm.campus) }}
        {{ form_row(sortieForm.ville) }}

        {{ form_row(sortieForm.lieu) }}
        <button><a href="{{ path('lieu_creer') }}">+</a></button>

        <div style="display: flex; justify-content: center">
            {{ form_row(sortieForm.enregistrer) }}
            {{ form_row(sortieForm.publier) }}
            <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                <button class="btn-primary btn"><a style="text-decoration: none; color: white; display: block" href="{{ path('accueil_accueil') }}">Annuler</a></button>
                </div>
            </div>
        </div>
        {{ form_end(sortieForm) }}

    </div>
{% endblock %}
