{% extends 'base.html.twig' %}

{% block title %}Créer une sortie
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('build/sortie.css') }}" rel="stylesheet"/>
{% endblock %}

{% block javascripts  %}
	<script src="{{ asset('js/mapCreation.js') }}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key={{ app.request.server.get('KEY') }}&callback=initAutocomplete&libraries=places&v=weekly" async></script>
	<script>
		document.getElementById('creer_sortie_form_adresse').addEventListener('keypress', function (event) {
if (event.keyCode == 13) {
event.preventDefault();
}
});
	</script>

	<script type="text/javascript">
		document.getElementById("creer_sortie_form_Annuler").addEventListener("click", () => location.href ='{{ path('accueil_accueil') }}');
	</script>

{% endblock %}

{% block body %}
	{{ form_start(form)}}
	<div class="core">
		<div class="left">
			{{ form_row(form.nom) }}
			{{ form_row(form.dateHeureDebut) }}
			{{ form_row(form.dateLimiteInscription) }}
			{{ form_row(form.nbInscriptionsMax) }}
			{{ form_row(form.duree) }}
			{{ form_row(form.infosSortie) }}
		</div>
		<div class="right">
			{{ form_row(form.campus) }}
			<div class="villeLieu">
				{{ form_row(form.lieu) }}
				{{ form_row(form.ville) }}

			</div>
			{{ form_row(form.adresse) }}
			<div class="mapWrapper">
				<div id="map"></div>
			</div>

		</div>
	</div>
	<div class="action">
		{{ form_row(form.enregistrer) }}
		{{ form_row(form.publier) }}
		{{ form_row(form.Annuler) }}
	</div>

	{{ form_end(form) }}

{% endblock %}
