{% extends 'base.html.twig' %}

{% block title %}Créer une sortie{% endblock %}
{% block body %}
    <div>
        {{ form_start(sortieForm, {attr: {novalidate:'novalidate'}})}}

        {{ form_row(sortieForm.nom) }}
        {{ form_row(sortieForm.dateHeureDebut) }}
        {{ form_row(sortieForm.dateLimiteInscription) }}
        {{ form_row(sortieForm.nbInscriptionsMax) }}
        {{ form_row(sortieForm.duree) }}
        <span>minutes</span>
        {{ form_row(sortieForm.infosSortie) }}

        {{ form_row(sortieForm.campus) }}
        {{ form_row(sortieForm.ville) }}
        <div>
            {{ form_row(sortieForm.lieu) }}
            <button><a href="{{ path('lieu_creer') }}">+</a></button>
        </div>
        <div>
            <button value="enregistrer">Enregistrer</button>
            <button value="publier">Publier la sortie</button>
            <button><a href="{{ path('accueil_accueil') }}">Annuler</a></button>
        </div>
        {{ form_end(sortieForm) }}

    </div>
{% endblock %}
