{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('build/accueil.css') }}" rel="stylesheet"/>
{% endblock %}
{% block body %}
    <div class="wrapper">
        <h2>Ville</h2>
    </div>
    <div class="filterWrapper">
        <table class="table">
            <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ ville.nom }}</td>
            </tr>
            <tr>
                <th>CodePostal</th>
                <td>{{ ville.codePostal }}</td>
            </tr>
            </tbody>
        </table>
        <div class="container">
            {# <a href="{{ path('ville_modifier', {'id': ville.id}) }}"class="btn btn-outline-primary">Modifier</a> #}
            {{ include('ville/_supprimer_form.html.twig') }}
        </div>
        <a href="{{ path('ville_lister') }}">Retour à la liste</a>
    </div>
{% endblock %}
