{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('build/accueil.css') }}" rel="stylesheet"/>
{% endblock %}
{% block body %}
    <div class="wrapper">
        <div class="title">
            <h2>Gestion des villes</h2>
        </div>

        {{ form_start(formVille) }}
        {% if form_errors(formVille) %}
            form_errors(formVille)
        {% endif %}

        <div class="filterWrapper">
            <div class="search">
                <div class="inputFilter">
                    <span>Le nom contient :</span>
                    {{ form_widget(formVille) }}
                    <div class="button">
                        <button class="searchButton">
                            Chercher
                        </button>
                    </div>
                </div>
            </div>

            <div class="filter">
            {{ form_end(formVille) }}
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>CodePostal</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for ville in ville %}
                    <tr>
                        <td>{{ ville.nom }}</td>
                        <td>{{ ville.codePostal }}</td>
                        <td>
                            <a href="{{ path('ville_detail', {'id': ville.id}) }}">Supprimer</a>
                            <a href="{{ path('ville_modifier', {'id': ville.id}) }}">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td >Pas de ville enregistrée</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{{ path('ville_ajouter') }}" class="btn btn-outline-primary">Ajouter une ville</a>
            <a href="{{ path('ville_lister') }}">Retour à la liste</a>
        </div>
    </div>
{% endblock %}
