{% extends 'base.html.twig' %}

{% block body %}
<div class="container -md">
    <h3>Campus</h3>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ campus.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ campus.nom }}</td>
        </tr>
        </tbody>
    </table>
<div class="container">
    <a href="{{ path('campus_modifier', {'id': campus.id}) }}"class="btn btn-outline-primary">Modifier</a>
       {{ include('campus/_supprimer_form.html.twig') }}
</div>
    <a href="{{ path('campus_lister') }}">Retour à la liste</a>
</div>
{% endblock %}
